MONGODB_URI=your_mongodb_uri
JWT_SECRET=your_jwt_secret
NEXT_PUBLIC_API_BASE_URL=/api
NEXT_PUBLIC_GA_MEASUREMENT_ID=your_ga_id
NEXT_PUBLIC_API_URL=http://localhost:5000/api
PORT=3000
NODE_ENV=development
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password
